<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ baseUrl }}css/theme.min.css?_={{ assetVersion }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="sidebar-collapse">
    <nav class="navbar navbar-expand-lg bg-primary" color-on-scroll="400">
        <div class="container-fluid">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ baseUrl }}" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="{{ subTitle }}">
                    {{ title }}
                </a>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2">
                <nav class="nav flex-column">

                {% for sectionId, section in menu.sections %}
                <div class="nav-item {{ sectionId == currentSection ? 'active' }}">
                    <a class="nav-link">
                    {{ section.name|raw }}
                    </a>

                    <ul class="nav flex-column">
                        {% for itemId, item in section.items %}
                        <li class="nav-item">
                            <a class="nav-link {{ itemId == currentMenu and sectionId == currentSection ? 'active' }}" href="{{ item.absoluteUrl|default(baseUrl ~ item.relativeUrl) }}">
                            {{ item.text|raw }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                {#} 
                <p> 
                  <iframe class="github-star" src="http://ghbtns.com/github-btn.html?user={{ github.user}}&repo={{ github.repo }}&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe> 
                </p> 
                {#}
                </nav>
            </div>
            <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5" role="main">
                {{ content|raw }}
            </main>
        </div>
    </div>

    <script src="{{ baseUrl }}js/theme.min.js?_={{ assetVersion }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css"></script>
    <script>
        $(function () {
            hljs.initHighlightingOnLoad();
        });
    </script>
    
    {#}
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {#}
</body>
</html>
